*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.post__search{
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.post__seach--container{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.post__search--label,
.inputbar{
  margin-right: 12px;
}
.post__title{

  border: 2px solid grey;
}
.post{
  
  width: 50%;  
  padding: 12px 24px;
  border: 1px solid grey;
}
.post__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
}
.post__title--skeleton,
.post__body--skeleton{
  height: 48px;
  width: 100%;
  animation: skeleton-loading 1s linear infinite alternate;
}
@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/*
  HOME
*/
.container{
  background-color: rgb(235, 233, 231);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}
.row{
  max-width: 1400px;
}
.user{
  border-radius: 24px;
  padding: 24px;
  width: 380px;
  border: 1px solid grey;
  margin: 24px;
  cursor: pointer;
  box-shadow: 11px 25px 37px -17px rgba(59,52,52,0.85);
  -webkit-box-shadow: 11px 25px 37px -17px rgba(59,52,52,0.85);
  -moz-box-shadow: 11px 25px 37px -17px rgba(59,52,52,0.85);
}
.user-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}